.personalized{
  
  margin: 4rem ;
  
  .btn-primary{
    padding:4px 32px;
    margin-right:32px;
    background-color: #3021D7;
    border-style: none;
    }
    .btn-secondary{
    padding:4px 32px;
    margin-right:32px;
    background-color:white;
    }
  
  .card-title{
  padding-top: 38px;
  }

  .card-description{
  padding-bottom:30px;
}

  }
  

